.vs-button-secondary {
    background: $secondary-optional !important;
}

.vs-button-text {
    font-family: $font-family-sans-serif;
}

.vs-button-text {
    span {
        display: inline-block !important;
    }
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    gap: 7px;
}

.img-btn {
    display: inline-block !important;
    width: 22px !important;
}

@for $index from 4 to 64 {
    .img-btn-#{$index} {
        display: inline;
        width: #{$index}px !important;
    }
}

.vs-button {
    border-radius: 0;
}

.btn-icon-50 {
    height: 36px;
    transition: transform 0.2s; /* Animation */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 0px !important;
    text-transform: uppercase;
    @extend .font-medium;
    @extend .size-small;
    @extend .color-copy;
    img {
        max-height: 24px !important;
        padding-left: 21px;
    }
    background-color: #{map-get($dark_map, "50")};
    border: 1px solid #{map-get($dark_map, "200")};
    &:hover {
        cursor: pointer;
        background-color: #{map-get($dark_map, "100")};
        @extend .font-bold;
        transform: scale(1.003);
    }

    &.warning-btn {
        background-color: #{map-get($warning_map, "50")};
        border: 1px solid #{map-get($warning_map, "200")};
        &:hover {
            background-color: #{map-get($warning_map, "100")};
        }
    }
}
