.vs-button-secondary {
    background: $secondary-optional !important;
}

.vs-button-text {
    font-family: $font-family-sans-serif;
}

.img-btn {
    display: inline !important;
    width: 22px !important;
}

@for $index from 4 to 64 {
    .img-btn-#{$index} {
        display: inline;
        width: #{$index}px !important;
    }
}

.vs-button {
    border-radius: 0;
}

.btn-icon-50-dark {
    height: 36px;
    transition: transform 0.2s; /* Animation */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 0px !important;
    background-color: #{map-get($dark_map, "50")};
    border: 1px solid #{map-get($dark_map, "200")};
    text-transform: uppercase;
    @extend .font-medium;
    @extend .size-small;
    @extend .color-copy;
    &:hover {
        cursor: pointer;
        background-color: #{map-get($dark_map, "100")};
        @extend .font-bold;
        transform: scale(1.003);
    }
    img {
        min-height: 24px !important;
        min-width: 24px !important;
        max-height: 24px !important;
        padding-left: 21px;
    }
}
